body {
    background-color: rgb(0, 0, 0);  /* Fond noir */
    color: white; /* Texte en blanc */
    margin: 0; /* Supprime les marges par dÃ©faut du corps */
    padding: 0;
    font-family: "Arial Narrow", sans-serif; /* Change la police en Arial Narrow, ou sans-serif si Arial pas dispo*/
}
p {
    font-size: 19px; /* Taille du texte */
}
h1 {
    font-family: "Courier New", monospace; /* Courier New pour les titres, ou monospace*/
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808); /* Ajoute une ombre */
}
h2, h3, h4, h5, h6{
    font-family: "Arial Narrow", sans-serif;  /* "Arial Narrow" ou sans-serif */
    color:#ffffff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.808); 
}
.header {
    background-color: #501010; /* Couleur de fond pour la barre en haut */
    padding: 40px; /* Espacement intÃ©rieur pour la barre en haut */
    text-align: center; /* Centre le contenu de la barre en haut */
    box-shadow: 0 0 5px rgba(83, 78, 78, 0.308); /* Ajoute une ombre floue Ã  la boÃ®te */
}
.container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* 100% de la hauteur de la fenÃªtre */
    overflow: hidden; /* Masque le dÃ©bordement horizontal */
}
.column {           /* Style pour diviser la page en deux colonnes */
    width: 40%;
    float: left;
    box-shadow: 0 0 5px rgba(83, 78, 78, 0.308); /* Ajoute une ombre floue Ã  la boÃ®te */
    padding: 5px; /* Ajoute un espacement intÃ©rieur pour l'encadrÃ© */
    margin: 10px auto; /* Ajoute une marge autour de l'encadrÃ© */
    clear: both; /* EmpÃªche la superposition */
    max-width: 50%; /* Evite le dÃ©bordement */
}
.column img {     /* Ajuste la taille de l'image Ã  la largeur de la colonne */
    width: 100%;
    height: auto;
}
ul { /* Pour Ã©viter que la barre dÃ©borde sur le titre */ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline; /* Affiche les Ã©lÃ©ments de liste horizontalement */
    margin-right: 10%; /* Espace entre les Ã©lÃ©ments de liste */
}
a {   /* Si l'on met des liens */
    text-decoration: none; /* Supprime les soulignements par dÃ©faut des liens */
    color: #fff; /* Couleur du texte des liens */
}
a:hover {
    text-decoration: underline; /* Effet de soulignement tant que ce n'est pas dans la barre de navigation */
}
#content { /* Applique une marge supÃ©rieure au contenu suivant la barre pour Ã©viter le chevauchement */
    margin-top: 80px; /* Ajuste la valeur en fonction de la hauteur de votre barre de navigation */
}

img{ /*  Transition impliquant une transformation (transform) sur l'image */
    width: 200px;  /* Permet de choisir la largeur de l'image transformÃ©e */
    transition: transform .1s;
}

img:hover{ /* Effet Zoom */
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}


/* Pour la barre de navigation : */
.navbar-container {
    background-color: #581111; /* Couleur de fond */
    padding: 10px 0; /* Espace intÃ©rieur en haut et en bas de la barre */
    position: fixed; /* Fixe la barre en haut */
    width: 100%; /* Occupe toute la largeur de la fenÃªtre */
    top: 0; 
    z-index: 1000; /* Assure que la barre est au-dessus d'autres Ã©lÃ©ments */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre Ã  la barre */
}
.navbar {
    max-width: 960px; /* Largeur maximale de la barre de navigation */
    margin: 0 auto; /* Centrer la barre de navigation horizontalement */
}
.navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Espacement Ã©quitable des Ã©lÃ©ments de la barre de navigation */
}
.navbar-item {
    color: #fff; /* Couleur du texte */
}
.navbar-item a {
    text-decoration: none; /* Supprime le soulignement des liens de la barre */
    color: #fff; /* Couleur du texte des liens */
    transition: color 0.3s; /* Animation de transition de la couleur du texte */
}
.navbar-item a:hover {
    color: #746cd8; /* Couleur du texte au survol */
}
@media screen and (max-width: 767px) { /* Responsive design */
    .container {
        display: flex;
        flex-direction: column; /* Affiche en colonne sur tÃ©lÃ©phone */
    } 
}